<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">-->
  </head>

  <body>
    <div id="pf"><%- markup %></div>
    <script src="/client/build.js"></script>
  </body>
</html>
